@import "components/common.less";
@import "components/grid.less";
@import "components/lists.less";
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*	layout start							  */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#page{
	background: transparent url("@{images}people-bg.jpg") no-repeat 50% 0% fixed;
	background-size: auto 75%;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*	layout end								  */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*	categories start						  */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.categories-holder{
	width: 100%;
	height: auto;
	margin-bottom: 40px;
	overflow: hidden;
	.btn-long{
		width: 23.66071428571429%;
		float: left;
		margin-right: 1.785714285714286%;
		&:last-child{ margin-right: 0; }
	}
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*	categories end							  */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*	people start							  */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.about-holder{
	p{
		padding: 20px 20px 0;
		&:last-child{ padding-bottom: 20px; }
		& > span{
			text-transform: uppercase;
		}
	}
	ul.list-holder{
		padding-left: 20px;
		box-sizing: border-box;
		margin: 20px 0 0;
	}
}
.people-holder{
	& > .inner{ margin-bottom: 20px; }
	.grid{
		.col{
			figure{
				height: 288px;
			}
		}
	}
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*	people end								  */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/